.wrapper {
  padding: 24px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border: 1px solid grey !important;
  border-radius: 3px;
}

.textField fieldset {
  border: 1px solid !important;
}